<!DOCTYPE html>
<html>
	<center>
		<head>
            <h1 style="font-weight: bold;">Student ID: 1001625797</h1><br>
        	<h1 style="font-weight: bold;">Name: Dandane, Chaitanya</h1>
			<hr>
		</head>
		<body>
			<h1>Select an option below:</h1>
			<div>
				<form action="/list" method="POST">
				    Enter a magnitude: <input type="text" name="mag">
				    <input type="submit" value="Search">
				</form>
			</div><br>
			<!-- <div>	
				<a href="/list_mag_date">Eartquake information within specified range and dates</a>
			</div><br>
			<div>	
				<a href="/list_loc">Eartquake's nearby specified location</a>
			</div><br>
			<div>	
				<a href="/list_cluster">Eartquake's Cluster</a>
			</div><br>	
			<div>	
				<a href="/night_mag">Eartquake's with higher magnitude frequent occurence</a>
			</div> -->
		</body>
	</center>	
</html>